.section-wrapper {
    margin: 0 10vw;
    display: flex;
    flex-flow: column nowrap;
    .title {
        h2 {
            font-size: 3rem;
            font-weight: 300;
            text-transform: uppercase;
            color: $vert;
            margin-bottom: 0;
        }
        &.ltitle {
            text-align: left;
        }
    }
    .blocs-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        @media screen and (max-width: 900px) {
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
        }
        .bloc-content {
            width: 30%;
            @media screen and (max-width: 900px) {
                width: 100%;
            }
            margin: 1rem;
            .picture-content {
                img {
                    width: 100%;
                }
            }
            .text-content {
                text-align: left;
            }
        }
        &.bw-houses {
            .bloc-content {
                position: relative;
                width: 25%;
                margin: 2rem;
                &:before {
                    content: '';
                    position: absolute;
                    z-index: -1;
                    width: 100%;
                    height: 100%;
                    background-color: #000;
                    top: 3%;
                    left: 5%;
                    visibility: hidden;
                    opacity: 0;
                }
                .text-content {
                    margin-left: 0;
                    h3 {
                        font-weight: 300;
                        font-size: 1.5rem;
                    }
                    p {
                        color: grey;
                        font-family: $raleway;
                        font-weight: 600;
                        font-size: 1.15rem;
                    }
                }
                transition: all .3s ease-in-out;
                &:hover {
                    &:before {
                        visibility: visible;
                        opacity: 1;
                        left: 5%;
                        transition: all .3s ease-in-out;
                    }
                    .text-content {
                        margin-left: 15%;
                        transition: all .3s ease-in-out;
                        h3 {
                            color: #fff;
                        }
                    }
                }
            }
        }
        &.bw-agents {
            .bloc-content {
                background-color: $vert;
                margin: 1rem;
                margin-bottom: 100px;
                .picture-content {
                    overflow: hidden;
                    transition: all .3s ease-in-out;
                    &:hover {
                        img {
                            transition: all .4s ease-in-out;
                            transform: scale(1.05);
                        }
                    }
                }
                .text-content {
                    padding: 1rem;
                    h3 {
                        font-weight: 300;
                        margin: 0;
                    }
                    p {
                        margin: 1rem 0 0;
                        font-weight: 600;
                        font-size: 1.2rem;
                    }
                }
            }
        }
        &.bw-how {
            align-items: center;
            .linebloc {
                border-top: 1px solid #000;
                width: 8rem;
            }
            .bloc-content {
                width: 20%;
                @media screen and (max-width: 900px) {
                    width: 100%;
                }
                .picture-content {
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    p {
                        margin: 0;
                        font-size: 1.2rem;
                    }
                    .fas {
                        font-size: 3rem;
                    }
                }
                .text-content {
                    text-align: center;
                    h3 {
                        font-weight: 300;
                        font-size: 1.5rem;
                    }
                    p {
                        font-weight: 600;
                    }
                }
            }
        }
        &.bw-news {
            .bloc-content {
                margin: 2rem 1rem 100px;
                .text-content {
                    h3 {
                        font-weight: 300;
                        font-size: 1.3rem;
                        text-transform: uppercase;
                    }
                    p {
                        color: $vert;
                        span {
                            color: gray;
                            &:after {
                                content: '•';
                                padding: 0 .8rem;
                            }
                        }
                    }
                }
            }
        }
        &.bw-contacts {
            &>div {
                background-color: #fff;
                padding: 3rem;
                margin: 3rem;
                font-family: $raleway;
                h3 {
                    font-family: $oswald;
                    font-size: 1.5rem;
                    font-weight: 300;
                }
                &.form {
                    text-align: left;
                    width: 50%;
                    @media screen and (max-width: 900px) {
                        width: 100%;
                    }
                    form {
                        display: flex;
                        flex-flow: column nowrap;
                        .field {
                            display: flex;
                            flex-flow: column nowrap;
                            padding: 1rem 0;
                            label {
                                padding-bottom: 1rem;
                                font-weight: 500;
                                font-size: 1rem;
                            }
                            input,
                            textarea {
                                border: 1px solid lightgrey;
                                height: 3rem;
                                border-radius: 5px;
                            }
                            textarea {
                                height: 12rem;
                                padding: .8rem;
                                font-weight: 600;
                            }
                        }
                    }
                    .names {
                        display: flex;
                        justify-content: space-between;
                        @media screen and (max-width: 900px) {
                            flex-flow: column nowrap;
                        }
                        .field {
                            width: 40%;
                            @media screen and (max-width: 900px) {
                                width: 100%;
                            }
                        }
                    }
                    .submit-btn {
                        background-color: $vert;
                        border-radius: 5px;
                        padding: 1.3rem 3rem;
                        width: 14rem;
                        color: #fff;
                        border: none;
                        outline: none;
                        font-weight: 600;
                    }
                }
            }
            &.bloc-content {
                height: 100%;
                .text-content {
                    font-size: 1rem;
                    font-weight: 400;
                    color: rgb(100, 100, 100);
                    h4 {
                        color: rgb(50, 50, 50);
                        font-weight: 700;
                    }
                    span {
                        color: $vert;
                    }
                }
            }
        }
        &.bw-footer {
            margin: 100px 20%;
            display: block;
            color: grey;
            font-size: 1.2rem;
            .top-footer {
                margin-bottom: 5rem;
                .bloc-content {
                    width: 30%;
                    @media screen and (max-width: 900px) {
                        width: 100%;
                    }
                }
                display: flex;
                @media screen and (max-width: 900px) {
                    flex-flow: column nowrap;
                }
                justify-content: space-between;
                h3 {
                    color: #fff;
                    font-size: 1.5rem;
                    font-weight: 300;
                }
                p {
                    line-height: 2rem;
                }
                .social-icon {
                    display: flex;
                    justify-content: space-between;
                    a {
                        color: grey;
                    }
                }
            }
            .bottom-footer {
                border-top: 1px solid grey;
                a {
                    color: lightgrey;
                    text-decoration: none;
                    font-weight: 200;
                }
            }
        }
    }
}

.how {
    padding: 4rem;
    background-color: $vert;
    .title {
        h2 {
            color: #000;
            margin: 3rem;
        }
    }
}

.contacts {
    background-color: antiquewhite;
    .title {
        h2 {
            margin: 5rem 0 2rem;
        }
    }
}

.footer {
    background-color: rgb(50, 50, 50);
    .section-wrapper {
        margin: 0;
    }
}


/* 
todo: 
- single pages 
*/